<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MWArray" publicKeyToken="e1d84a0da19db86f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.0" newVersion="2.18.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RhinoCommon" publicKeyToken="552281e97c755530" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.21127.19000" newVersion="7.6.21127.19000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Rhino.UI" publicKeyToken="552281e97c755530" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.21100.3000" newVersion="7.5.21100.3000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Grasshopper" publicKeyToken="dda4f5ec2cd80803" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.21127.19000" newVersion="7.6.21127.19000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GH_IO" publicKeyToken="6a29997d2e6b4f97" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.21127.19000" newVersion="7.6.21127.19000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GH_Util" publicKeyToken="dda4f5ec2cd80803" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.21100.3001" newVersion="7.5.21100.3001" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>